---
# With 4 columns indentation.
BasedOnStyle: WebKit
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
# Override the break before braces and use Allman (aka add a new line after every bracket)
BreakBeforeBraces: Allman
# to Use in case with custom (specify Custom for BreakBeforeBraces to make this work)
# BraceWrapping:
#    AfterEnum: true
#    AfterStruct: true
#    AfterClass: true


# Indent in all namespaces
NamespaceIndentation: All

# TODO add line break after public/protected/private
...


# for reference:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html